.header_button{
    margin-left: 3px;
    margin-right: 3px;
}

#header_blocks{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

#header_menu{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
