#reg_auth_info {
    display: flex!important;
    width: 400px;
    padding: 10px;
    margin-top: 12%;
}

#auth_form {
    margin-bottom: 10px;
}

.auth_form_line {
    margin-top: 10px;
    margin-bottom: 10px;
}

.form_button {
    width: 120px;
    margin-left: 10px;
    margin-right: 10px;
}
