html,
body {
    height: 100%;
    margin-top: 0px;
    margin-bottom: 0;
    background-color: #edeef0;
    /* overflow: hidden; */
}

#header {
    height: 60px;
}

#body_container {
    margin-top: 60px;
}

#body {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

#newMessagePopUp{
    position: fixed;
    width: 300px;
    height: 70px;
    left: 0.5%;
    top: 90%;
    visibility: hidden;
    background-color: dimgray;
    border-radius: 25px;
    padding: 10px;
    opacity: 0.6
}
