#button_field {
    width:900px;
    align-items: center;
}

.user_data_element {
    width: 900px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.user_info_line {
    display: flex;
}

.user_info_label {
    display: inline-flex;
    width: 300px;
}

.user_info_data {
    display: inline-flex;
}

.mention {
    border-width: 1px 0px 0px 0px;
    border-style: solid;
    width: 860px;
    margin: 20px 20px 20px 20px;
}

.mentioner_name {
    width: 395px;
    display: inline-flex;
}

.mentioner_company {
    width: 395px;
    display: inline-flex;
}

.user_info_functional_btn {
    width: 140px;
}